{% extends "base.html" %}
{% load static %}

{% block main %}

	{# if the user IS logged in #}
    {% if user.is_authenticated %}

        <h2>My Details</h2>
        <section>
            <div id="account-details">

                <div class="account-detail">
                    <label>Username:</label>{{ user.username }}
                </div>

                <div class="account-detail">
                    <label>Name:</label>{{ user.title }} {{ user.first_name }} {{ user.last_name }}
                </div>

                <div class="account-detail">
                    <label>Email:</label>{{ user.email }}
                </div>

                <div class="account-detail">
                    <label>Role:</label>{{ user.role }}
                </div>

                <div class="account-detail">
                    <label>Date joined:</label>{{ user.date_joined }}
                </div>

                <div class="account-detail">
                    <label>Last logged in:</label>{{ user.last_login }}
                </div>

            </div>
        </section>

        <h2>Update Details</h2>
        <section>
            <div>
                If you'd like to update your details, please <a href="mailto:j.kidwell@bham.ac.uk?subject=Experiences of Landscape Workers: Change Account Details">contact the system admin</a> with your new details
            </div>
        </section>

        <h2>Logout</h2>
        <section>
            <div>
                <a href="{% url 'logout' %}">Click here</a> to logout of your account
            </div>
        </section>
        
    {% endif %}

    {# if the user IS NOT logged in #}
    {% if user.is_authenticated == False %}
    
        <h2>Not logged in</h2>
        <section>
            <div>It doesn't look like you're logged in.</p>
            <div>
                To view your account details, please either: <a href="{% url 'login' %}#main">Login</a> or <a href="{% url 'account_create' %}#main">Create an account</a>
            </div>
        </section>
    
    {% endif %}

{% endblock %}