{% load static %}

<footer class="container-fluid">
    <!-- Content -->
    <div id="footer-content" class="container">
    
        <div id="footer-content-logos">
            <img src="{% static 'images/logos/uob-cal.jpg' %}" alt="University of Birmingham">
        </div>
        <p>
            Experiences of Landscape Workers is a research project led by Jeremy Kidwell at the <a href="http://www.birmingham.ac.uk">University of Birmingham</a>
        </p>
        <p>
            This website has been developed by the <a href="http://www.birmingham.ac.uk/bear-software">Research Software Group</a> for the <a href="https://www.birmingham.ac.uk/university/colleges/artslaw/index.aspx">College of Arts and Law</a>
        </p>
        <p>
            <a href="https://www.birmingham.ac.uk/privacy/index.aspx" target="_blank">Privacy</a> |
            <a href="https://www.birmingham.ac.uk/legal/index.aspx" target="_blank">Legal</a> |
            <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx" target="_blank">Freedom of Information</a> |
            <a href="{% url 'cookies' %}">Cookies</a> |
            <a href="https://accessibility.bear.bham.ac.uk/statements-cal.html" target="_blank">Accessibility</a>
        </p>	
        <p>
            © University of Birmingham {% now "Y" %}
        </p>

    </div>
</footer>