{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Accessibility</h1>
<p>We aim to make this website easy to use and as accessible as possible. Our aim is that the site will meet the recommended government standard for web accessibility (<a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1 AA</a>). This means that you should be able to:</p>
<ul>
    <li>change the colours, contrast levels, and fonts</li>
    <li>resize the text to make it easier to read</li>
    <li>navigate the site using just a keyboard or using speech recognition software</li>
    <li>listen to the content using a screen reader</li>
</ul>
<p>If you wish to contact us about the accessibility of this website please email <a href="mailto:bear-software@contacts.bham.ac.uk">bear-software@contacts.bham.ac.uk</a>.</p>
<p>This statement was last reviewed on 8th July 2020.</p>
{% endblock %}
