{% extends "base.html" %}
{% load static %}

{% block main %}

    <h1>Login</h1>
	<section>	
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<a href="{% url 'password_reset' %}">Forgot password?</a>
			<div class="bigbuttons">
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
		</form>
	</section>

    <div class="bigbuttons">
        
    </div>

    <h2>Create an account</h2>
	<section>
		<div>
			Don't have an account yet? No problem, you can <a href="{% url 'account-create' %}">create an account</a>.
		</div>
	</section>

{% endblock %}