{% extends 'base.html' %}
{% load static %}

{% block main %}
  
  	<section>
		<h3>Password reset email sent</h3>
		<p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
		<p>If you haven't received it after a few minutes, please check your spam folder and ensure that you've typed your email correctly</p>
		<p>If you still haven't received the email after these checks, please <a href="mailto:j.kidwell@bham.ac.uk?subject=Experiences of Landscape Workers: Not Received Password Reset Email">contact the system admin</a></p>
	</section>

{% endblock %}