
/* ---------- General ---------- */

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 1em;
    line-height: 1.5em;
    background: #F0F0F0;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #CCC;
    height: 1px;
}

h1,
h2 {
    padding-top: 1.3em;
    padding-bottom: 0.1em;
    font-weight: bold;
    font-size: 2.3em;
    color: #101010;
}

.form-inline .form-control {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #005763;
    font-weight: bold;
}

a:hover {
    color: #130f40;
}

.btn-primary {
    background: #005763;
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #005763 !important;
}

.btn-big {
    display: block;
    width: 14em;
    max-width: 90%;
    font-size: 1.2em;
    padding: 0.7em 0.2em;
    margin: 2em auto;
}

.hidden {
    display: none;
}

/* ---------- Form ---------- */

form {
    margin-top: -2em;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1em;
    margin-top: 2em;
}

label.confirmation {
    text-align: center;
    font-weight: normal;
    margin-top: 3em;
    font-size: 1.2em;
    line-height: 2em;;
}

label.confirmation .danger {
    color: #dc3545;
    font-weight: bold;
}

input,
textarea {
    display: block;
    border: 1px solid #AAA;
    border-radius: 0.5em;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
    width: 100%;
    padding: 0.5em 0.7em;
    font-size: 0.9em;
}

input[type='file'] {
    border: none;
    border-radius: 0;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
}

input[type='checkbox']:checked {
    background: #005763;
    border: 2px solid #005763;
}

button {
    display: block;
    width: 10em;
    max-width: 100%;
    background: #005763;
    color: white;
    border: 0;
    border-radius: 0.2em;
    padding: 0.8em 2em;
    margin: 3em auto 1.5em auto;
    font-weight: bold;
}

#cookie-message-popup button {
    margin: 0;
    background: white;
    color: black;
    width: fit-content;
}

.helptext {
    font-size: 0.8em;
}

/* ---------- Loading Animation ---------- */

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: calc(50vh - 32px);
    left: calc(50vw - 32px);
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  

/* ---------- Navigation ---------- */

nav {
    font-size: 1rem;
    background: white;
    padding-top: 0.4em;
    height: 3em;
    width: 100%;
    position: fixed;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

nav ul {
    padding: 0;
    text-align: center;
}

.nav-item {
    text-align: center;
    list-style-type: none;
    text-transform: capitalize;
    display: inline-block;
}

.nav-item a {
    text-decoration: none;
    color: #272727;
}

.nav-item.active a {
    color: #005763;
}

.nav-item a:hover {
    color: #005763;
}

.nav-item i {
    display: inline-block;
    width: 100%;
    font-size: 1.25em;
}

.nav-item-text {
    width: 100%;
    display: block;
    margin-top: -0.5em;
    font-weight: normal;
    font-size: 0.7em;
}

/* ---------- Main ---------- */

#main-alerts {
    display: none;
    position: fixed;
    background: #005763;
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;
}
#main-alerts a,
#main-alerts a:hover,
#main-alerts a:visited {
    color: white;
}

section {
    background: white;
    display: block;
    border-radius: 0.5rem;
    margin: 1.3em 0;
}

section p {
    margin: 0.5em 0em;
}

/* ---------- Welcome ---------- */

section#section-welcome-banner {
    background-image: url('../images/backgrounds/welcome-banner.jpg');
    background-size: cover;
	background-position: center;
    background-color: black;
}

section#section-welcome-banner h2 {
    color: white;
    background: black;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    padding: 0.5em;
}

/* ---------- Journal ---------- */

#journalentry-list-search {
    background: white;
    border: none;
    display: block;
    width: 40em;
    max-width: 100%;
    text-align: center;
    font-size: 1.1em;
    border-radius: 0;
}

.journalentry-list-empty {
    text-align: center;
    font-size: 1.1em;
    /* color: #404040;     */
}

.journalentry-list-empty strong {
    font-size: 1.5em;
    display: inline-block;
    margin: 1em 0 1.5em 0;
}

a.journalentry-list-item {
    color: #303030;
}

a.journalentry-list-item:hover {
    text-decoration: none;
    
}

.journalentry-list-item section:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27), 0 20px 40px 0 rgba(0, 0, 0, 0.013);
}

.journalentry-list-item-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

.journalentry-list-item-text {
    font-size: 1em;
    font-weight: normal;
}

.journalentry-list-item-image img,
.journalentry-detail-image img {
    margin: 2em auto 0 auto;
    border-radius: 0.7em;
    display: block;
}

.journalentry-detail-text {
    font-size: 1em;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    margin-top: -2.5em;
}

.journalentry-detail-text p {
    margin-top: 2em;
}

.drafts-list-item {
    margin-top: 2em;
}

.drafts-list-item:first-child {
    margin-top: 0;
}

.drafts-list-item a {
    display: block;
    font-size: 1.3em;
}

.drafts-list-item p {
    margin-top: 0.2em;
}

/* ---------- Account ---------- */

.account-detail {
    margin: 0.27em 0;
    font-weight: bold;
}

.account-detail label {
    display: inline;
    margin-right: 0.5em;
    color: #505050;
    font-weight: normal;
}

/* ---------- Footer ---------- */

footer {
    margin-top: 5em;
    padding: 2em 0 7em 0;
    text-align: center;
    color: #606060;
    font-size: 0.9em;
}

#footer-content p {
    padding: 0;
    margin: 0;
}

/* ---------- Error Pages ---------- */

.errorpage-title {
    font-size: 3.3em;
    font-weight: bold;
    margin: 0.5em 0 1em 0;
}

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
