
/* Large devices (992px and up) */
@media (min-width: 992px) {
    /* ---------- General ---------- */

    main {
        margin-top: 4rem;
    }

    /* ---------- Navigation ---------- */

    nav {
        top: 0;
        bottom: auto;
        border-top: 0;
    }

    .nav-item {
        width: 5em;
    }

    /* ---------- Main ---------- */

    section {
        padding: 2em;
    }

    /* ---------- Welcome ---------- */

    section#section-welcome-banner h2 {
        font-size: 3.5em;
        padding: 7em 0.5em 0.2em 0.5em;
        vertical-align: bottom;
    }
}
