
/* Extra small devices (1px and up) */
@media (min-width: 1px) {
    /* ---------- General ---------- */

    main {
        margin-top: 1em;
    }

    /* ---------- Navigation ---------- */

    nav {
        top: auto;
        bottom: 0;
        border-top: 1px solid #DDD;
        border-bottom: 0;
    }

    .nav-item {
        width: calc(20% - 0.2em);
        min-width:3.3em;
    }

    /* ---------- Main ---------- */

    #main-alerts {
        top: auto;
        bottom: 3em;
    }

    section {
        padding: 1.3em;
    }

    /* ---------- Welcome ---------- */

    section#section-welcome-banner h2 {
        font-size: 2.7em;
        padding: 3em 0 0 0em;
        vertical-align: bottom;
    }
    
    /* ---------- Journal ---------- */

    #journalentry-list-search {
        margin: 4em auto 1.5em auto;
        width: 100%;
    }

    .journalentry-list-item-image img,
    .journalentry-detail-image img {
        width: 100%;
    }

    #journalentry-detail-actions {
        text-align: center;
        margin-top: 2em;
    }
    
    #journalentry-detail-actions a {
        width: 100%;
        margin-top: 2em;
        font-size: 1em;
        padding: 0.8em 0;
    }
    
    #journalentry-detail-actions a i {
        margin-right: 0.5em;
    }
}
