
/* Large devices (992px and up) */
@media (min-width: 992px) {
    /* ---------- General ---------- */

    main {
        margin-top: 4rem;
    }

    h2 {
        padding-top: 1.5em;
    }

    /* ---------- Navigation ---------- */

    nav {
        top: 0;
        bottom: auto;
    }

    .nav-item {
        width: 5em;
    }

    /* ---------- Welcome ---------- */

    #welcome-projectlogo {
        margin: 5em auto 2em auto;
    }
}
