
/* Extra small devices (1px and up) */
@media (min-width: 1px) {
    /* ---------- General ---------- */

    main {
        margin-top: 1em;
    }

    h2 {
        padding-top: 1em;
    }

    /* ---------- Navigation ---------- */

    nav {
        top: auto;
        bottom: 0;
    }

    .nav-item {
        width: 19%;
        /* margin: 0 0.3em; */
    }

    /* ---------- Welcome ---------- */

    #welcome-projectlogo {
        margin: 1em auto 3em auto;
    }
}
