
/* Large devices (992px and up) */
@media (min-width: 992px) {
    /* ---------- General ---------- */

    main {
        margin-top: 4rem;
    }

    /* ---------- Navigation ---------- */

    nav {
        top: 0;
        bottom: auto;
        border-top: 0;
        border-bottom: 1px solid #DDD;
    }

    .nav-item {
        width: 5em;
    }

    /* ---------- Main ---------- */

    #main-alerts {
        bottom: 0;
    }

    section {
        padding: 2em;
    }

    /* ---------- Welcome ---------- */

    section#section-welcome-banner h2 {
        font-size: 3.5em;
        padding: 7em 0.5em 0.2em 0.5em;
        vertical-align: bottom;
    }

    /* ---------- Journal ---------- */

    #journalentry-list-search {
        margin: 7em auto 2em auto;
        width: 30em;
    }

    .journalentry-list-item-image img,
    .journalentry-detail-image img {
        width: 75%;
        margin-bottom: 1em;
    }

    .bigbuttons {
        text-align: center;
        margin-top: 2.7em;
    }
    
    .bigbuttons a,
    .bigbuttons button {
        width: auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
        min-width: 8em;
        margin-left: 2em;
        font-size: 1em;
    }
    
    .bigbuttons a i,
    .bigbuttons button i {
        margin-right: 0.5em;
    }

}
