body {
    background: #485563;    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 15vh 5vw 15vh 5vw;
}

footer {
    margin-top: 6em;
    border-top: 1px solid white;
    font-size: 0.9em;
}

h1 {
    font-size: 4em;
    color: white;
}

p,
ul {
    font-size: 1.7em;
    margin-bottom: 2em;
    color: white;
    line-height: 1.3em;
    width: 60vw;
    max-width: 90vw;
}

a {
    color: white;
    text-decoration: underline;
}

.highlight {
    color: white;
}
