<!doctype html>

{% load static %}

<html lang="en">

    <head>
        <!-- Head content -->
        {% include 'snippets/base-head.html' %}
    </head>

    <body>

        <!-- Main -->
        <main>

            <div id="main-nav">
                {% include 'snippets/nav.html' %}
                {% include 'snippets/nav-toggle.html' %}
            </div>

            <div id="main-content" class="container">
                {% block error %}
                {% endblock %}
            </div>

        </main>

        <!-- Footer -->
        {% include 'snippets/footer.html' %}

        <!-- JavaScript -->
        {% include 'snippets/base-js.html' %}

    </body>

</html>
