{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div class="container">

        <h1>Offline</h1>
        <section>
            <p>
                Limited or no internet connection?
            </p>
            <p>
                Some pages aren't accessible when offline as they require an internet connection, but you can still write about your experiences and <a href="{% url 'journal-journalentry-drafts' %}">save them as offline drafts</a>.
            </p>
            <p>
                Then, whenever you're back online, you can quickly and easily convert these drafts into entries in your journal.
            </p>
        </section>

    </div>

{% endblock %}