{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div class="container">

        <h1>Offline</h1>
        <section>
            <p>
                Limited or no internet connection? No problem.
            </p>
            <p>
                You can still write about your experiences and <a href="{% url 'journal-journalentry-drafts' %}">save them as offline drafts</a>. Then, whenever you're back online, you can easily submit these offline drafts to us.
            </p>

        </section>

    </div>

{% endblock %}